@charset "utf-8";
/* FIT TRACK NORMAL CSS v1 */

/* GLOABAL STYLING */
* {margin: 0; padding: 0;}
body {background-color: #252A30;}

/*START Lgoin Page Styles*/

#login_container {
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 250px;
	border-radius: 5px;
	background-color: white;
	border: 1px solid #c4c4c4;
	padding: 10px;
	box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3);
}

#login_container .login_area  {
	float: left;
	width: 300px;
	margin-left: 25px;
	margin-top: 25px;
}


#login_container .login_area .field_holder {
	width: 300px;
	height: 40px;
	margin-bottom: 20px;
}

#login_container .login_area .field_holder .field {
	width: 298px;
	height: 38px;
	border: 1px solid #b3b3b3;
}

#create_account_container {
	float: left;
	width: 300px;
	height: auto;
	margin-left: 50px;
	margin-top: 25px;
}

/*END Login Page Styles*/

/*START Sign Up Page Styles*/

#signup_container {
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 350px;
	border-radius: 5px;
	background-color: white;
	border: 1px solid #c4c4c4;
	padding: 10px;
	box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3);
}

#signup_container .signup_area  {
	float: left;
	width: 650px;
	margin-left: 25px;
	margin-top: 25px;
}


#signup_container .signup_area .field_holder {
	float: left;
	width: 300px;
	height: 40px;
	margin-bottom: 40px;
	margin-left: 20px;
}

#signup_container .signup_area .field_holder label {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-bottom: 5px;
	display: block;
}

#signup_container .signup_area .field_holder .field {
	width: 298px;
	height: 38px;
	border: 1px solid #b3b3b3;
}

.signup_area .submit_holder .btn {
	color: white;
	width: 650px;
	margin-top: 10px;
}

#create_account_container {
	float: left;
	width: 300px;
	height: auto;
	margin-left: 50px;
	margin-top: 25px;
}



/*END Signup Page Styles*/


/*START Track Page Styles*/

#track_page_main-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
	width: 960px;
	height: 600px;
	overflow: hidden;
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3)
}


#track_container {
	float: left;
	margin-top: 10px;
	width: 400px;
	height: auto;
}

#track_container .field_holder {
	float: left;
	width: 300px;
	height: 40px;
	margin-bottom: 40px;
	margin-left: 20px;
}


#track_container .field_holder label {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-bottom: 5px;
	display: block;
}

#track_container .field_holder .field {
	width: 298px;
	height: 38px;
	border: 1px solid #b3b3b3;
}

.field_holder select {
	float: left;
   background: white;
   padding: 8px 8px 8px 0;
   line-height: 1;
   border: 0;
   border-radius: 0;
   width: 298px;
	height: 38px;
	border: 1px solid #b3b3b3;
   -webkit-appearance: none; 
}

#track_container .submit_holder .btn {
	color: white;
	width: 298px;
	margin-top: 10px;
	margin-left: 20px;
}

#track-info {
	float: left;
	width: 400px;
	height: auto;
	margin-left: 100px;
	margin-top: 10px;
}

/*END Track Page Styles*/

/*START Add Page Styles*/

#add_page_main-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
	width: 960px;
	height: 320px;
	overflow: hidden;
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3)
}


#add_container {
	float: left;
	margin-top: 10px;
	width: 400px;
	height: auto;
}

#add_container .field_holder {
	float: left;
	width: 300px;
	height: 40px;
	margin-bottom: 40px;
	margin-left: 20px;
}


#add_container .field_holder label {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-bottom: 5px;
	display: block;
}

#add_container .field_holder .field {
	width: 298px;
	height: 38px;
	border: 1px solid #b3b3b3;
}

#add_container .submit_holder .btn {
	color: white;
	width: 298px;
	margin-top: 10px;
	margin-left: 20px;
}

#category_info {
	float: left;
	width: 400px;
	height: auto;
	margin-left: 100px;
	margin-top: 10px;
}

/*END Add Page Styles*/


/*START Me Page Styles*/

#me_page_main-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
	padding-bottom: 10px;
	width: 960px;
	height: auto;
	overflow: hidden;
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3)
}


#recent_activity {
	float: left;
	margin-top: 10px;
	margin-left: 30px;
	width: 900px;
}

#recent_activity th{
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
}

#recent_activity th h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #7a7a7a;
}

#recent_activity td{
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #dddddd;
}

/*END Me Page Styles*/

	.btn {
		background-color: #F46944;
		border: 0;
		border-radius: 3px;
		width: 300px;
		height: 41px;
		color: white;
		cursor: pointer;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: bold;
	}
	
	.btn:hover {
		background-color: #f24f23;
		cursor: pointer;
	}
	
	.submit_holder {
		width: 300px;
		height: 41px;
		margin-top: 40px;
	}
 
	h1 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 18pt;
		color: #7a7a7a;
	}
	
	.fp {
		float: left;
		width: auto;
		height: 20px;
		margin-left: 130px;
		margin-top: -10px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12pt;
		text-transform: uppercase;
		color: #7a7a7a;
		text-decoration: none;
	}
	
	.blue {
		color: #0072c6;
		text-decoration: none;
	}
	
	#create-account {
		display: none;
	}
	
#footer {
	float: left;
	width: 700px;
	height: auto;
	margin-left: 610px;
	margin-right: auto;
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}


/*Other*/
.top_bar {
	position: fixed;
	height: 60px;
	background-color: #26A1DA;
	border-bottom: 1px solid #2694C8;
	box-shadow: -1px 0 5px rgba(0, 0, 0, 0.5);
	top: 0;
	width:100%;
}

#copyright {
	color: white;
	float: left;
}

#links a {
	color: white;
	float: right;
}

.section_header {
	width: 960px;
	height: 30px;
	background-color: #EEEEEE;
	border-bottom: 1px solid #DDDDDD;
	padding: 20px;
}

#navigation {
  position: fixed;
  top: 0;
  width: 960px;
  color: #ffffff;
  height: 35px;
  background-color: #26A1DA;
  z-index: 100;
  padding-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  text-transform: uppercase;
  list-style: none;
}

#navigation li {
	display: inline;
	
}

#navigation a {
	font-size: 14pt;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	text-decoration: none;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

#navigation a:hover {
	color: #F46944;
	transition: color 0.25s ease-in-out 0s;
}

#navigation a.selected {
	color: white;
	background-color: #F46944;
	padding: 10px;
	border-radius: 5px;
}

#main-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
	width: 960px;
	height: 600px;
	overflow: hidden;
	background-color: white;
	border-radius: 5px;
}


.icon-plus {
  background-position: -408px -96px;
}

/*select {
   background: white;
   padding: 8px 8px 8px 0;
   line-height: 1;
   border: 0;
   border-radius: 0;
   width: 298px;
	height: 38px;
	border: 1px solid #b3b3b3;
   -webkit-appearance: none; 
}*/

#yep {
	float: left;
	margin-left: 310px;
	color: red;
	width: auto;
	height: auto;
	margin-top: -30px;
}

h2 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 18pt;
		color: #7a7a7a;
}

.definition {
	width: 350px;
	margin-bottom: 15px;
}