{% extends 'base.html' %}

{% block content %}
        
        
<div class="row">
	<div class="col-8">
		<h2>Add Category</h1>
		<form class="form-horizontal" action="{{ url_for('add') }}" method="post">        
			<div class="form-group">
				<div class="col-lg-4">
					<label for="category">Category</label>
					<input class="field" type="text" placeholder="Category" name="category">
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-4">
					<label for="exercise">Exercise</label>
					<input class="field" type="text" placeholder="Exercise" name="exercise">
				</div>
			</div>
			<div class="form-group">
				<div class="col-offset-2 col-lg-4">
				<button type="submit" class = "btn">Submit</button>
				</div>
			</div>
		</form>
	</div>

	<div class="col-4">
		<div class="definition">
			<h2>Category</h2>
			<p>What group to place exercise in (I.E. Arms, Legs, Shoulders, etc)</p>
	    </div>
	    <div class="definition">
			<h2>Workout</h2>
			<p>What exercise to place in category (I.E. Curls, Press, Raises, etc)</p>
	    </div>
	</div>      
</div>
{% endblock %}