{% extends 'base.html' %}

{% block head %}
<script language="javascript" type="text/javascript">
// <!CDATA[


function pwcheck() {
var pass1 = document.getElementById("newpw");
var pass2 = document.getElementById("verifypw");
if(pass1.value==pass2.value){
 alert("Password Match");
 return true;
}
else { alert("Password do not match."); return false;}
}
</script>
{% endblock %}

{% block content %}

<div class="container">
<h3>Account Management</h3>
<div class="row">

	<div class="col-md-3">
		<h5>Update Email Preferences</h5>
		<form class="form-horizontal" method=post name='email'>
			<div class="control-group">
	  			<label class="control-label" for="newemail">New Email</label>
	  		<div class="controls">
	  			<input type="password" id="newemail" name="newemail">
	  		</div>
	  		</div>
	  		<div class="control-group">
	  			<label class="control-label" for="newemail">Password</label>
	  		<div class="controls">
	  			<input type="password" id="pw" name="pw">
	  		</div>
	  		</div>
	  		<br>
	  		<button type="submit" class="btn" name="newemail">Update Email</button>
	  	</form>
	  	<br>
	  	<form>
	  		<button type="submit" class="btn">Delete Account</button>
	  	</form>
	</div>
	<div class="col-md-9">
		<h5>Update Password</h5>
		<form class="form-horizontal" method=post name="password">
	  		<div class="control-group">
	  			<label class="control-label" for="currentpw">Current Password</label>
	  		<div class="controls">
	  			<input type="password" id="currentpw" name="currentpw">
	  		</div>
	  		</div>
	  		<div class="control-group">
	  			<label class="control-label" for="newpw">New Password</label>
	  		<div class="controls">
	  			<input type="password" id="newpw" name="newpw">
	  		</div>
	  		</div>
	  		<div class="control-group">
	  			<label class="control-label" for="verifypw">Verify Password</label>
	  		<div class="controls">
	  			<input type="password" id="verifypw" name="verifypw">
	  		</div>
	  		</div>
	  		<br>
	  		<button type="submit" class="btn" onClick="return pwcheck();" name="updatepw">Update Password</button>
	  	</form>
	</div>
</div>
</div>
{% endblock %}

