{% extends 'base.html' %}

{% block content %}

<div class="row">
	<div class="col-md-6">
	<h1> </h1>
		<form class="form-horizontal" action="{{ url_for('login') }}" method=post class=track>
				
			<div class="form-group">
				<label for ="email" class="col-lg-4 control-label">Email</label>
				<input class="field" type="text" placeholder="Email" name = email id = "email">
			</div>
	                    
			<div class="form-group">
				<label for ="password" class="col-lg-4 control-label">Password</label>
				<input class="field" type = "password" placeholder="Password" name = password>
			</div>
	        <a class="fp" href="#link">FORGOT PASSWORD</a>
	                    
			<div class="submit_holder">
			<button type = "submit" class = "btn">SIGN IN</button>
			</div>				
		</form>
	</div>
	<div class="col-md-6">
		<h1>NEED AN ACCOUNT ?</h1>
	    <p>New to fitTrack? Simply go to our 
	    <a class="blue" href="{{ url_for('create') }}">
	        create an account</a> page to get started.</p>
	        
		<div id="create-account">
			<a href="{{ url_for('create') }}"><button class ="btn">CREATE ACCOUNT</button></a>
		</div>
	</div>
</div>
	<div class="navbar navbar-fixed-bottom">
		<p id="copyright">&copy; 2013 fitTrack | Version 0.01</p>
		<p id="links">
	    <a href="https://github.com/justinrsmith/fitTrack">GitHub</a></div>



{% endblock %}
