{% extends 'base.html' %}

{% block content %}
<div class = "row">
<div class = "span12">
<form class = "form-horizontal" action="{{ url_for('track') }}" method=post class=track>
	<fieldset>
		<legend>Track Workout</legend>
		<div class = "contol-group">
			<label class = "control-label">Exercise</label>
		</div>
		<div class = "controls">
			<input type = "text" name = exercise>
		</div>
		<br>
		<div class = "contol-group">
			<label class = "control-label">Sets</label>
		</div>
		<div class = "controls">
			<input type = "number" name = sets>
		</div>
		<br>
		<div class = "contol-group">
			<label class = "control-label">Reps</label>
		</div>
		<div class = "controls">
			<input type = "number" name = reps>
		</div>
		<br>
		<div class = "contol-group">
			<label class = "control-label">Weight</label>
		</div>
		<div class = "controls">
			<input type = "number" name = weight>
		</div>
		<br>
		<div class = "controls">
			<button type = "submit" class = "btn">Submit</button>
		</div>
	</fieldset>
</form>
{% if exercise %}
{% for e in exercise %}
	{{e.id}}
	{{e.exercise}}
{% endfor %}
{% endif %}
</div>
</div>
{% endblock %}