{% extends 'base.html' %}

{% block content %}
<div class = "row">
<div class = "span12">
<form class = "form-horizontal" action="{{ url_for('track') }}" method=post class=track>
	<fieldset>
		<legend>Track Workout</legend>
		<div class = "contol-group">
			<label class = "control-label">Category</label>
		</div>
		<div class = "controls">
			<select id="category" name="category">
				{% for e in exercise %}
					<option value="{{e.workout}}">{{e.category}}</option>
				{% endfor %}
			</select>
		</div>
		<br>
		<div class = "contol-group">
			<label class = "control-label">Exercise</label>
		</div>
		<div class = "controls">
			<select id="exercise" name="exercise">
				{% for e in exercise %}
					<option value="{{e.workout}}">{{e.workout}}</option>
				{% endfor %}
			</select>
		</div>
		<br>
		<div class = "contol-group">
			<label class = "control-label">Sets</label>
		</div>
		<div class = "controls">
			<input type = "number" name = sets>
		</div>
		<br>
		<div class = "contol-group">
			<label class = "control-label">Reps</label>
		</div>
		<div class = "controls">
			<input type = "number" name = reps>
		</div>
		<br>
		<div class = "contol-group">
			<label class = "control-label">Weight</label>
		</div>
		<div class = "controls">
			<input type = "number" name = weight>
		</div>
		<br>
		<div class = "controls">
			<button type = "submit" class = "btn">Submit</button>
		</div>
	</fieldset>
</form>
{% if workout %}
{% for w in workout %}
	{{w.id}}
	{{w.exercise}}
{% endfor %}
{% endif %}
</div>
</div>
{% endblock %}