{% extends 'base.html' %}

{% block content %}
<div class = "span6">
			<form class = "form-horizontal" action="{{ url_for('create') }}" method=post class=track>
			<fieldset>
				<legend>Create a Login</legend>
					<div class = "contol-group">
						<label class = "control-label">Email</label>
					</div>
					<div class = "controls">
						<input type = "text" name = newEmail id = "newEmail">
					</div>
					<br>
					<div class = "contol-group">
						<label class = "control-label">Password</label>
					</div>
					<div class = "controls">
						<input type = "text" name = newPassword id = "newPassowrd">
					</div>
					<br>
					<div class = "controls">
						<button type = "submit" class = "btn">Submit</button>
					</div>
			</fieldset>
		</form>
</div>
{% endblock %}